[Unit]
Description=LPWAN Server UI

[Service]
WorkingDirectory=/var/node/lpwanserver-ui/ui
#ExecStart=/usr/bin/forever start -c "npm start" /var/node/lpwanserver-ui/ui
ExecStart=/usr/bin/npm start /var/node/lpwanserver-ui/ui
Restart=always

[Install]
WantedBy=multi-user.target
