[Unit]
Description=LPWANSERVERREST

[Service]
WorkingDirectory=/var/node/lpwanserver-rest
ExecStart=/usr/bin/nodejs /var/node/lpwanserver-rest/app/index.js
Restart=always

[Install]
WantedBy=multi-user.target
